# BIRD, SPIDER, SCIENCE_BENCHMARK
DATASET="SCIENCE_BENCHMARK"
# TRAIN, DEV, TEST
DATA_SPLIT="DEV"

DEV_BIRD_DB_ROOT_PATH="data/bird/dev/dev_databases/"
DEV_SPIDER_DB_ROOT_PATH="data/spider/dev/database/"
TRAIN_BIRD_DB_ROOT_PATH="data/bird/train_sampled/train_databases/"
TEST_SPIDER_DB_ROOT_PATH="data/spider/test/test_database_sampled/"
DEV_SCI_DB_ROOT_PATH="data/sciencebenchmark_dataset/dev/"
DB_CACHE_DIR=".cache"

DEFAULT_MODEL="gpt-3.5-turbo-0125"
# DEFAULT_MODEL="gpt-4o-2024-05-13"

OPENAI_API_KEY="<YOUR OPENAI KEY>"
# OPENAI_BASE_URL="<YOUR OPENAI BASE>"